<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Configuration for defining custom sections within the app -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <!-- Define settings for "Server" and "AsyncRAT_Sharp" applications -->
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AsyncRAT_Sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- Runtime configuration specifying the .NET framework version -->
  <startup>
    <!-- Updated for .NET 9 -->
    <supportedRuntime version="v9.0" sku=".NETCoreApp,Version=v9.0" />
  </startup>

  <!-- User-specific settings, typically used for application configuration -->
  <userSettings>
    <Server.Properties.Settings>
      <!-- Define various user settings for the Server application -->
      <setting name="Ports" serializeAs="String">
        <value />
      </setting>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mutex" serializeAs="String">
        <value />
      </setting>
      <setting name="Pastebin" serializeAs="String">
        <value>https://pastebin.com/raw/s14cUU5G</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTrademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtFileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtPool" serializeAs="String">
        <value />
      </setting>
      <setting name="txtWallet" serializeAs="String">
        <value />
      </setting>
      <setting name="txtxmrPass" serializeAs="String">
        <value />
      </setting>
      <setting name="txtBlocked" serializeAs="String">
        <value />
      </setting>
      <setting name="Group" serializeAs="String">
        <value>Default</value>
      </setting>
    </Server.Properties.Settings>

    <AsyncRAT_Sharp.Properties.Settings>
      <!-- Define various user settings for the AsyncRAT_Sharp application -->
      <setting name="Ports" serializeAs="String">
        <value />
      </setting>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mutex" serializeAs="String">
        <value />
      </setting>
      <setting name="Pastebin" serializeAs="String">
        <value />
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTrademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtFileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
    </AsyncRAT_Sharp.Properties.Settings>
  </userSettings>

  <!-- Application settings for configuring specific behavior -->
  <appSettings>
    <!-- Auto resizing for high DPI in Windows Forms applications -->
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />

    <!-- Client Settings Provider URI (left blank for now) -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <!-- Web settings for authentication and role management -->
  <system.web>
    <!-- Define the membership provider used for authentication -->
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>

    <!-- Define the role manager for user role management -->
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <!-- Assembly binding section for managing versioning and binding redirects -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Redirect binding for specific assembly versions -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
